@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
}
/* Landing page starts */

/* background */
.hero {
  max-width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.4)),
    url("/images/bg-2.jpg");
  background-position: top;
  background-size: cover;
}

/* navigation bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* right hand side of navigation bar */
.right-nav {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
.upper-right-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
#phone-icon {
  width: 1.5rem;
}
.lower-right-nav {
  display: flex;
  justify-content: space-around;
}
.lower-right-nav a {
  text-decoration: none;
  text-align: center;
  padding: 5px 20px;
}
.lower-right-nav a:hover {
  background: green;
  border-radius: 50px;
}
/* logo */
#logo {
  font-family: "Kaushan Script", cursive;
  font-size: 3em;
  margin: 0 1rem;
  padding: 0.5rem 0;
  flex-basis: 40%;
  order: 1;
}

/* Track my order button */
#btn-green {
  order: 2;
  background: transparent;
  color: white;
  outline: none;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  margin-right: 3em;
  font-size: 1.2em;
}
#btn-green:hover {
  background: green;
  color: #fff;
  border: 2px solid #fff;
}

/* line after navigation bar */
nav::after {
  content: " ";
  position: absolute;
  top: 100px;
  left: 0;
  height: 1px;
  background: bisque;
  width: 100%;
}

/* content on header */
.hero-content {
  position: absolute;
  display: inline-block;
  padding: 0.5rem 3rem;
  position: relative;
  transform: translateX(50%);
  transform: translateY(80%);
}
.hero-content h1 {
  font-size: 2em;
  color: aquamarine;
}

/* cheeesiest pizzzaaa designing */
.hero-content a {
  font-family: "Kaushan Script", cursive;
  font-size: 3rem;
  color: #fc723b;
  cursor: pointer;
  text-decoration: none;
}
.hero-content a:hover {
  color: #ff4800;
  text-shadow: 1px 1px 0.5px aquamarine, 1px 1px 0.5px aquamarine;
}
.hero-content::before {
  content: "";
  background-color: #ff4800;
  position: absolute;
  top: 20px;
  left: 30px;
  width: 3px;
  height: 150px;
}
.hero-content::after {
  content: "";
  background-color: #ff4800;
  position: absolute;
  top: 140px;
  left: 8px;
  height: 3px;
  width: 300px;
}
/* Buttons */
.btn {
  color: aquamarine;
  width: 7rem;
  height: 2.5rem;
  margin: 2.5rem 1.5rem;
  border-radius: 0 10px;
  cursor: pointer;
  outline: none;
  font-size: 1.2em;
  text-align: center;
}
.orange {
  border: none;
  background: #ff4800;
  color: white;
}
.orange:hover {
  background: transparent;
  border: 2px solid white;
  color: aquamarine;
  transform: scaleX(110%);
}
.trans {
  background: transparent;
  border: 2px solid white;
}
.trans:hover {
  background: #ff4800;
  border: none;
  color: white;
  transform: scaleX(110%);
}
